<% if user_signed_in? %>

  <h1>Friends</h1>

  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Twitter</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @f_amigos.each do |f_amigo| %>
        <% if f_amigo.user == current_user %>
        <tr>
          <td><%= link_to f_amigo.first_name + ' ' + f_amigo.last_name, f_amigo %></td>
          <td><%= f_amigo.email %></td>
          <td><%= f_amigo.phone %></td>
          <td><%= f_amigo.twitter %></td>
          <td><%= link_to 'Delete', f_amigo, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <br>

  <%= link_to 'New Friend', new_f_amigo_path, class:"btn btn-dark" %>
<% else %>
  <h1>Hello World</h1>
<% end %>
  

