<p id="notice"><%= notice %></p>

<h1>Friends</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Twitter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @f_amigos.each do |f_amigo| %>
      <tr>
        <td><%= f_amigo.first_name %></td>
        <td><%= f_amigo.last_name %></td>
        <td><%= f_amigo.email %></td>
        <td><%= f_amigo.phone %></td>
        <td><%= f_amigo.twitter %></td>
        <td><%= link_to 'Show', f_amigo %></td>
        <td><%= link_to 'Edit', edit_f_amigo_path(f_amigo) %></td>
        <td><%= link_to 'Destroy', f_amigo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New F Amigo', new_f_amigo_path %>
