<div class="jumbotron bg-light text-dark" style="width: 30rem">
<h1 class="display-4">
<%= @f_amigo.first_name %>
<%= @f_amigo.last_name %>
</h1>
<p class="lead">
<%= @f_amigo.email %> |
<%= @f_amigo.phone %> |
<%= @f_amigo.twitter %> 
</p>
</br></br>
<p class="lead">
<%= link_to 'Edit', edit_f_amigo_path(@f_amigo), class:"btn btn-dark" %> 
<%= link_to 'Back', f_amigos_path, class:"btn btn-dark" %>
</p>
</div>

